<logged-in-header></logged-in-header>
<div id="content">
    <div class="form-outer-container container">
        <div class="row">
            <div class="form-inner-container col-md-6 col-md-offset-3 col-xs-offset-1 col-xs-10">
                <div class="layout"></div>
                <div class="tab-container login-register-tabs">
                    <ul class="nav nav-tabs">
                        <li ng-class="tab==='profile'?'active':''">
                            <a href="#profileTab" show-tab>Update Profile</a>
                        </li>
                        <li ng-class="tab==='change-password'?'active':''">
                            <a href="#changePasswordTab" show-tab>Change Password</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="profile-form tab-pane fade {{tab==='profile'?'in active':''}}" id="profileTab" ng-controller="ProfileController">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h1 class="m-t-10 title"><i class="glyphicon glyphicon-user"></i></h1>
                                </div>
                                <div class="col-xs-9">
                                    <small class="text-white">Change personal details</small>
                                    <h2 class="no-padding no-margin title"><span>Update Profile</span></h2>
                                </div>
                            </div>
                            <form ng-submit="saveProfile()">
                                <form-errors></form-errors>
                                <form-messages></form-messages>
                                <div class="form-group">
                                    <div class="p-relative">
                                        <i class="glyphicon glyphicon-user input-icon"></i>
                                        <input name="first_name" type="text" class="form-control" placeholder="First Name" required ng-model="firstName">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="p-relative">
                                        <i class="glyphicon glyphicon-user input-icon"></i>
                                        <input name="last_name" type="text" class="form-control" placeholder="Last Name" required ng-model="lastName"/>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="p-relative">
                                        <i class="glyphicon glyphicon-user input-icon"></i>
                                        <input name="email" type="text" class="form-control" placeholder="Email" required ng-model="email">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-form" type="submit">Save <i class="glyphicon glyphicon-forward"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="pull-left">
                                        <a href="#game" class="text-white">Back to Game</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="change-password-form tab-pane fade {{tab==='change-password'?'in active':''}}" id="changePasswordTab" ng-controller="ChangePasswordController">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h1 class="m-t-10 title"><i class="glyphicon glyphicon-lock"></i></h1>
                                </div>
                                <div class="col-xs-9">
                                    <small class="text-white">Remain secure</small>
                                    <h2 class="no-padding no-margin title"><span>Change Password</span></h2>
                                </div>
                            </div>
                            <form ng-submit="savePassword()">
                                <form-errors></form-errors>
                                <form-messages></form-messages>
                                <div class="form-group">
                                    <div class="p-relative">
                                        <i class="glyphicon glyphicon-user input-icon"></i>
                                        <input name="password" type="password" class="form-control" placeholder="New Password" required ng-model="password">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="p-relative">
                                        <i class="glyphicon glyphicon-user input-icon"></i>
                                        <input name="cpassword" type="password" class="form-control" placeholder="Repeat Password" required ng-model="cpassword"/>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-form" type="submit">Change <i class="glyphicon glyphicon-forward"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="pull-left">
                                        <a href="#game" class="text-white">Back to Game</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
